/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.section-jets {
  &.no-data {
    display: block;
    min-height: 50vh;
  }
  &__title {
    text-align: center;
  }
}
