@import 'fonts.scss';
@import 'fontastic.scss';
@import 'iconmoon.scss';
@import 'helpers.scss';
@import 'jets.scss';
@import 'nav-jets.scss';
@import 'ninja-forms.scss';

// @COMPONENS CSS
:root {
  --light-color: white;
  --dark-color: #201309;
  --blue-color: blue;
}
